/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/11/2018, 14:08:09
    Author     : Vianna
*/
.nav{
    margin-top: 40px;
    font-size: 20px;
}
#logo{
    width: 10%;
    height: 8%;
}
.card-link{
    color:black;
}
#rodape{
    background-color: gainsboro;
    width: 100%;
    position:absolute;
    bottom:auto;
    margin-top: 5%;
    padding: 2%;
} 
.box{
    margin: -410px 0 0 450px;
}
.icon{
    width: 27px;
    height: 20px;
}
.detalhes{
    float: right;
    width: 100px;
    height: 45px;
    background-color: red;
    text-align: center;
    color: white;
    margin-top: -10px;
}
.hr{
    height:5px;
    border:0;
    background:repeating-linear-gradient(45deg, blue, blue 10px,red 10px,red 20px), linear-gradient(to bottom, #eeeeee, #999999);
}
.ibusca{
    width: 15px;
    height: 30px;
}
center{
    margin-left: 10%;
}
